.root {
  li {
    display: inline-block;
  }

  a {
    text-align: center;
    width: 45px;
    line-height: 42px;
    height: 42px;
    border: 1px solid var(--orange);
    border-radius: 30px;
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
    color: var(--orange);

    &:hover {
      background-color: var(--orange);
      color: var(--white);
    }
  }
}
