* {
  margin: 0;
  text-decoration: none;
}
.container {
  max-width: 820px;
  margin: 0 auto;
  align-items: center;
}

.line {
  height: 1px;
  background-color: var(--gray);
  width: 100%;
  margin-top: 30px;
}

.head {
  display: flex;
}
.cartHead {
  display: flex;
}
.basket {
  fill: var(--black);
  width: 29px;
  height: 29px;
  margin-right: 18px;
}
.trash {
  display: flex;
  color: var(--gray);
  p {
    font-weight: 400;
    font-size: 16px;
  }
}
.trashBox {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 95px;
  align-items: center;
  h1 {
    font-weight: 700;
    font-size: 32px;
  }
}
.pizzaType {
  display: flex;
  align-items: center;
  gap: 15px;
}
.pizzaItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.pizza {
  width: 80px;
  height: 80px;
}
.pizzaInfo {
  display: flex;
  flex-direction: column;
  h2 {
    font-family: Proxima Nova;
    font-weight: 700;
    font-size: 22px;
    margin: 0;
  }
  p {
    color: var(--gray);
    font-weight: 400;
    font-size: 18px;
  }
}
.pizzaNum {
  display: flex;
  gap: 12px;
  img {
    width: 32px;
    height: 32px;
  }
  h2 {
    font-weight: 700;
    font-size: 22px;
    margin: 0;
  }
}
.pizzaPrice {
  font-weight: 700;
  font-size: 22px;
}
.delete {
  width: 32px;
  height: 32px;
}
.pizzaAll {
  display: flex;
  size: 22px;
  gap: 3px;
  align-items: center;
  p {
    font-weight: 400;
  }
  h3 {
    font-weight: 700;
  }
}
.order {
  display: flex;
  gap: 3px;
  align-items: center;
  p {
    font-weight: 400;
  }
  h3 {
    font-weight: 700;
    color: var(--orange);
  }
}
.orderInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.back {
  color: var(--gray);
  border: 1px solid var(--gray);
  border-radius: 30px;
  padding: 18px 35px;
  &:hover {
    color: var(--white);
    background: var(--gray);
    cursor: pointer;
  }
}
.pay {
  border: 1px solid var(--orange);
  background: var(--orange);
  color: var(--white);
  border-radius: 30px;
  padding: 18px 35px;
  font-weight: 700;
  font-size: 16px;
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}
.end {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
