.pizzaCard {
  /* margin-left: 67px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  margin-bottom: 30px;
}
.name {
  width: 280px;
  height: 24px;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
}
.pizza {
  width: 259px;
  height: 260px;
}
.dough {
  /* background: #fff; */
  border-radius: 30px;
  margin: 5px 7px;
  display: flex;
  justify-content: space-between;
}
.pizzaInfo {
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 85px;
  border-radius: 10px;
  padding: 15px;
}
.size {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.priceAdd {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
.price {
  font-weight: 700;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-right: 36px;
}
.add {
  width: 155px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #eb5a1e;
  border-radius: 30px;
  border: 2px solid #eb5a1e;
  font-weight: 700;
  font-size: 16px;
}
