:root {
  --light-gray: #f9f9f9;
  --medium-gray: #282828;
  --dark-gray: #2c2c2c;

  --orange: #fe5f1e;
  --white: #fff;
  --black: #000;
  --orange-border: #eb5a1e;
  --light-border: #f6f6f6;
  --background-gray: #d6d5d430;
  --background-orange: #e3964d33;
}
