.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  border-bottom: 1px solid var(--light-border);

  @media (max-width: 640px) {
    flex-direction: column;
    .shoppingСart {
      margin-top: 20px;
    }
  }
}

.headerLogo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.pizza {
  width: 38px;
  height: 38px;
}
.headerText {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.name {
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 1%;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}
.shoppingСart {
  width: 150px;
  display: flex;
  align-items: center;
  background: var(--orange);
  border-radius: 30px;
  padding: 15px 24px;
  gap: 13px;
}
.price {
  color: white;
}
.hr {
  opacity: 45%;
  width: 1px;
  height: 25px;
  background-color: white;
}
.cartText {
  color: white;
  font-weight: 700;
  font-size: 16px;
  width: 16px;
  height: 16px;
  margin-left: 8px;
}
.cartInfo {
  display: flex;
}

.headerLogo a,
.shoppingСart a {
  display: flex; /* теперь ссылка ведет себя как flex-контейнер */
  align-items: center;
  gap: 10px;
  text-decoration: none; /* убирает подчеркивание */
  color: inherit; /* сохраняет цвет текста */
  width: 100%; /* чтобы занимала всю ширину блока */
  height: 100%;
}
