body {
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.pizza-list {
  margin-left: 67px;
  margin-right: 67px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 35px;
}

.title {
  width: 166px;
  height: 39px;
  font-weight: 700;
  font-size: 32px;
  margin-left: 67px;
}
