@import './styles/variables.scss';

body {
  background-color: var(--white);
  color: var(--black);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p,
h1 {
  margin: 0;
}
* {
  box-sizing: border-box;
  font-family: 'Nunito';
}
.app {
  max-width: 1350px;
  margin: 0 auto;
}
.pizzaList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 11px;

  @media (max-width: 1400px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 1060px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 730px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.title {
  font-weight: 700;
  margin: 30px 0;
  font-size: 32px;
}
