@import './styles/variables.css';

body {
  background-color: var(--white);
  color: var(--black);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p,
h1 {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.app {
  max-width: 1350px;
  margin: 0 auto;
}
.pizzaList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 35px;
}

.title {
  font-weight: 700;
  margin: 30px 0;
  font-size: 32px;
}
