.filterAndSort {
  display: flex;
  justify-content: space-between;
}
.filter {
  display: flex;
  justify-content: space-between;
  padding: 40px 67px;
  gap: 9px;
}
.filterText {
  background: #f9f9f9;
  border-radius: 30px;
  padding: 15px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}
