.filter {
  display: flex;
  align-items: center;
  gap: 9px;
}
.filterText {
  background: var(--light-gray);
  border-radius: 30px;
  padding: 15px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}
