.sort {
  display: flex;
}
.triangle {
  color: var(--dark-gray);
  width: 10px;
  height: 5.625px;
}
.sortText {
  margin-left: 8px;
  margin-right: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 1.5%;
  color: var(--dark-gray);
}
.sortType {
  color: var(--orange);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.5%;
  text-decoration: underline dashed var(--orange);
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.sortColumn {
  display: flex;
  flex-direction: column;
}

.sortList {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  padding: 10px 14px;
  background-color: var(--background-gray);
  border-radius: 20px;
  position: absolute;
  &:hover {
    cursor: pointer;
  }
}

.sortListActive {
  color: var(--orange);
  background-color: var(--background-orange);
  font-weight: 700;
  font-size: 14px;
}
